<!DOCTYPE html>
<html lang="en">

<head>
    <title>Twäwis-Games - Hangman</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../Contents/Bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../Contents/style.css">
    <link rel="stylesheet" href="../Contents/hangman.css">
</head>

<body>

    <nav class="navbar navbar-expand-md navbar-dark">
        <a class="navbar-brand menuitem" href="../index.html">Twäwis-Games</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="tictactoe.html" class="nav-link text-white menuitem">
                        <img src="../Images/tictactoe.png" alt="TicTacToe Icon" width="27px">
                        <br>
                        TicTacToe
                    </a>
                </li>
                <li class="nav-item">
                    <a href="hangman.html" class="nav-link text-white menuitem">
                        <img src="../Images/hangman.png" alt="Hangman Icon" width="25px">
                        <br>
                        Hangman
                    </a>
                </li>
                <li class="nav-item">
                    <a href="speedclicker.html" class="nav-link text-white menuitem">
                        <img src="../Images/speedclicker.png" alt="TicTacToe Icon" width="25px">
                        <br>
                        Speedclicker
                    </a>
                </li>
                <li class="nav-item">
                    <a href="sequencememory.html" class="nav-link text-white menuitem">
                        <img src="../Images/sequencememory.png" alt="Hangman Icon" width="25px">
                        <br>
                        Sequence Memory
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="grid">
        <main class="container">
          <div id="container">
            <canvas id="hangman" width="180" height="250"></canvas>
          </div>
          <br>
          <div id="placeholder">

          </div>
          <div id="input">
              <label for="letter">Letter: </label>
              <input type="text" maxlength="1" id="letter">
              <button id="enterLetter">OK</button>
          </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br><br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br><br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            main
        </main>

        <div id="gradient"></div>

        <footer>
            footer
        </footer>
    </div>
    <script src="../jQuery/jquery.slim.min.js"></script>
    <script src="../jQuery/jquery-3.6.1.min.js"></script>
    <script src="../Scripts/Bootstrap/popper.min.js"></script>
    <script src="../Scripts/Bootstrap/bootstrap.bundle.min.js"></script>
    <script src="../Scripts/hangman.js"></script>
</body>

</html>