<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="../Contents/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <link href="Contents/style.css" rel="stylesheet" crossorigin="anonymous">
  </head>
  <body>
    <div class="grid">
        <nav>
            nav
        </nav>
        <main>
            main
        </main>
        <footer>
            footer
        </footer>
    </div>
    <script src="../Scripts/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="../Scripts/index.js" crossorigin="anonymous"></script>
  </body>
</html>