<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bootstrap demo</title>
  <link href="../Contents/bootstrap.min.css" rel="stylesheet">
  <!-- <link href="../Contents/style.css" rel="stylesheet"> -->
  <link rel="stylesheet" href="../Contents/tictactoe.css">
</head>

<body>
  <div class="grid">
    <nav>
      <h1>Hallo</h1>
    </nav>
    <main>
      <div class="gridtictactoe">
        <div class="grid-itemCorner">1</div>
        <div class="grid-itemMidSide1">2</div>
        <div class="grid-itemCorner">3</div>  
        <div class="grid-itemMidSide2">4</div>
        <div class="grid-itemMid">5</div>
        <div class="grid-itemMidSide2">6</div>  
        <div class="grid-itemCorner">7</div>
        <div class="grid-itemMidSide1">8</div>
        <div class="grid-itemCorner">9</div>  
    </div>
    </main>
    <footer>
      <p>footer</p>
    </footer>
  </div>
  <script src="../Scripts/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
  <script src="../Scripts/index.js" crossorigin="anonymous"></script>
  <script src="../Scripts/tictactoe.js"></script>
</body>

</html>