canvas {
    text-align: center;
    border: solid 1px #737373;
    border-radius: 5px;
    padding: 20px;
}

input[type=text] {
    color: #737373;
    background-color: #ffe0e9;
    width: 5%;
    text-align: center;
    margin: 5px;
    border-radius: 5px;
}

#solution {
    display: block;
    list-style: none;
    padding: 0;
}

#container,
#placeholder {
    text-align: center;
}

#gameContent {
    margin: auto;
    position: relative;
    overflow: hidden;
}

#gameTitle {
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 40px;
    color: #d6658d;
}

.button {
    font-size: 17px;
    width: 100px;
    margin: auto;
    cursor: pointer;
    border: solid 1px #737373;
    background-color: #fff5f8;
    border-radius: 4px;
    text-align: center;
    color: #545454;
    margin-bottom: 50px;
    transition: 1s;
}

.button:hover {
    background-color: #ffe0e9;
    transition: 0.5s;
}

#replay {
    margin-top: 20px;
    text-align: center;
}

#placeholder {
    text-align: center;
    padding: 10px;
    float: left;
    position: relative;
    left: 50%;
}

#input {
    margin-top: 50px;
    text-align: center;
}

#clueholder {
    margin-top: 100px;
    text-align: center;
}

#guesses {
    text-align: center;
}

#feedback {
    margin-top: 50px;
    font-size: 34px;
    text-align: center;
    color: #d17192;
}

.tile {
    height: 30px;
    width: 30px;
    float: left;
    position: relative;
    left: -50%;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #eb8faf;
    text-align: center;
    color: #fff;
}

#finalMessage {
    text-align: center;
    font-size: 40px;
    color: #d6658d;
    width: 90%;
    margin: auto;
    margin-top: 100px;
}

/*handy*/
@media screen and (max-width: 615px) { 
    .tile {
        width: 20px;
        height: 20px;
        margin-right: 5px;
        font-size: 12px;
    }

    input[type=text] {
        width: 50px;
    }
}