#gameContent {
    margin: auto;
    width: 500px;
    height: 500px;
    border-radius: 10px;
}

#game {
    height: 100%;
    position: relative;
    overflow: hidden;
    border: solid 1px #737373;
    border-radius: 10px;
}

.gameText {
    color: white;
    text-align: center;
}

.gameUnderText {
    color: white;
    text-align: center;
}

.images {
    width: 64px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    animation: pulse 2s ease infinite;
}

#game > * {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line {
    width: 200px;
    height: 1px;
    border: 1px solid White;
    margin-bottom: 10px;
}

#gameTitle {
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 40px;
    color: #d6658d;
}

.button {
    font-size: 17px;
    width: 100px;
    margin: auto;
    cursor: pointer;
    border: solid 1px #737373;
    background-color: #fff5f8;
    border-radius: 4px;
    text-align: center;
    color: #545454;
    margin-bottom: 50px;
    transition: 1s;
}

.button:hover {
    background-color: #ffe0e9;
    transition: 0.5s;
}

/* Creating th heartbeat effect */
@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

/*phone*/
@media screen and (max-width: 615px) { 
    #gameContent {
        width: 300px;
        height: 300px;
    }

    .gameText {
        font-size: 25px;
    }
    
    .gameUnderText {
        font-size: smaller;
    }

    .images {
        width: 40px;
    }
}