#gameContent {
    margin: auto;
    width: 500px;
    height: 500px;
    position: relative;
    overflow: hidden;
    border: solid 1px #737373;
    border-radius: 5px;
}

.gameText {
    color: white;
    text-align: center;
}

.gameUnderText {
    color: white;
    text-align: center;
}

.images {
    width: 64px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    animation: pulse 2s ease infinite;
}

#startScreen {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#waitForGreen {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#turnGreen {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#onGreenClick {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#clickedTooEarly {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#resultScreen {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line {
    width: 200px;
    height: 1px;
    border: 1px solid White;
    margin-bottom: 10px;
}

/* Creating th heartbeat effect */
@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

/*phone*/
@media screen and (max-width: 615px) { 
    #gameContent {
        width: 100%;
    }


}