html {
    scroll-behavior: smooth;
    position: relative;
    min-height: 100%;
    background-color: #ffe0e9;
}

.grid {
    display: grid;
    height: 100%;
    grid-template-rows: 1fr 50px 300px;
    margin: 0%;
    padding: 0%;
}

nav, main {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

nav {
    background-color: #ffbfd5;
}

.menuitem {
    text-align: center;
}

body {
    background-color: #fff5f8;
}

main {
    grid-row: 1/2;
    background-color: #fff5f8;
}

.main {
    text-align: left;
    padding-top: 5%;
    padding-bottom: 5%;
    min-height: 100vh;
}

#gradient {
    grid-row: 2/3;
    background-image: linear-gradient(#fff5f8, #ffe0e9)
}

footer {
    grid-row: 3/4;
    background-color: #ffe0e9;
    bottom: 0;
}

#goTopBtn {
    display: none;
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #eb8faf;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
    transition: 0.7s;
}

.footer {
    display: flex;
}

#copyright {
    width: 50%;
    text-align: left;
}

#links {
    width: 50%;
    text-align: right;
}

.buttonlink {
    cursor: pointer;
    border: solid 1px #737373;
    background-color: #fff5f8;
    border-radius: 4px;
    color: #545454;
    transition: 0.1s;
    margin-bottom: 10px;
    width: 180px;
    text-align: right;
}

.buttonlink:hover {
    transform: scale(1.02);
    transition: 0.05s;
}

@media screen and (max-width: 615px) {
    .footer {
        display: block;
    }

    #copyright{
        font-size: 12px;
        text-align: center;
        width: 100%;
    }

    #links{
        width: 100%;
        text-align: center;
    }

    .buttonlink {
        font-size: 12px;
        margin-bottom: 5px;
        width: 150px;
    }
}